[submodule "frontend/extension"]
	path = frontend/extension
	url = ../tableau-tracker-extension.git
[submodule "frontend/registration"]
	path = frontend/registration
	url = ../tableau-tracker-registration-frontend.git
[submodule "frontend/wdc"]
	path = frontend/wdc
	url = ../tableau-tracker-wdc.git
